

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color:#f03998e7;
   font-weight: bold;
}

/* Light theme (default) */
body {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
  }
  
  /* Dark theme */
  body.dark {
    background-color: #333;
    color: white;
  }
  